*.o
*.a
*.so
*~
*.bak
*.pyc
*.swp
._*
bin/
lib/
config/Makefile.local
config/Makefile.site
.test-data/
.test-results/
.ccache/
test/bin/
test/__pycache__/
.pytest_cache/
.venv/
build/
dist/
wheelhouse/
Mains/3dNormalize/1dstats
Mains/OPMsim/OPMsim
Mains/SAM3d/SAM3d
Mains/SAM4d/SAM4d
Mains/SAMcov/SAMcov
Mains/SAMpower/SAMpower
Mains/SAMsimulate/SAMsimulate
Mains/SAMwts/SAMwts
Mains/orthohull/meshnorm
